.contenido{
    display: flex;
    background-color: rgba(78, 70, 70, 0.24);
 
}

.derecho{
    width: 100%;
    background-color: rgba(78, 70, 70, 0.24);
    padding: 120px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.img
  {
    max-width: 515px;
    max-height: 317px;
      
  }

  .INSCRIPCION{
    display: flex;
    text-align: center;
    margin-left: 1%;
    margin-right: 78%;
    padding: 10px;
    border: black 2px solid;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px
  }

  .titulo{
    text-decoration: none;
    display:flex;
    color: green;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: bolder;
  }